$a: 2vw;
$bg: #111;
$primary: #333;
$input: #fff;

@font-face {
	font-family: "Roboto";
	src: url("../fonts/RobotoCondensed-Regular.ttf");
}

body {
	background-color: $bg;
	background-repeat: repeat;
	background-image: url("../img/final.png");
}

.container {
	width: 80%;
	height: 80%;
	margin: auto;
	display: flex;
	top: 0; right: 0;
	bottom: 0; left: 0;
	position: absolute;
}

.side {
	min-width: 50%;
	height: 100%;
	width: 100%;
}

.panel {
	border: 2px solid black;
	margin: 0 $a;
	font-size: $a / 2;
}

textarea {
	color: $input !important;
	padding: $a;
	outline: none;
	font-size: $a / 2;
	border: none;
	width: 100%;
	color: #333;
	height: 80%;
	background-color: $primary;
}

.output {
	@extend .panel;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 80%;
	padding: 0 $a;
	font-family: Arial;
	word-wrap: break-word;
	background-color: $input; 
}

.label{
	font-family: "Roboto";
	display: inline-block;
	margin: $a/2 $a;
	padding: 0 $a;
	width: auto;
	height: 2*$a;
	line-height: 2 * $a;
	color: white;
	font-size: $a;
}

@media screen and (max-width: 700px) {
	.container {
		flex-direction: column;

	}

	.side {
		margin: $a 0;
	}
}