$a: 2vw;
$bg: #111;
$primary: #333;
$input: #fff;

@font-face {
	font-family: "Roboto";
	src: url("../fonts/RobotoCondensed-Regular.ttf");
}

body {
	background-color: $bg;
	background-repeat: repeat;
	background-image: url("../img/final.png");
}

.container {
	width: 100%;
	height: 80%;
	margin: auto;
	display: flex;
	top: 0; right: 0;
	bottom: 0; left: 0;
	position: absolute;
	text-align: center;
}

.side {
	min-width: 50%;
	height: 100%;
	width: 100%;
}

.panel {
	margin: 0 2*$a;
	font-size: 15px;
	text-align: left;
}


textarea {
	color: $input !important;
	padding: $a;
	outline: none;
	font-size: 15px;
	border: none;
	width: 100%;
	color: #333;
	height: 65vh;
	background-color: $primary;
}

.output {
	@extend .panel;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 73vh;
	padding: 0 $a;
	font-family: Arial;
	word-wrap: break-word;
	background-color: $input; 
}

.label{
	font-family: "Roboto";
	display: inline-block;
	margin: 0;
	padding: 0 $a;
	width: auto;
	height: 2*$a;
	line-height: 2 * $a;
	color: white;
	font-size: 20px;
}



@media screen and (max-width: 800px) {
	.container {
		flex-direction: column;
		height: 100vh;
	}

	.side {
		height: 45%;
		margin: $a 0;
	}
}

$barWidth: 10px;

textarea::-webkit-scrollbar {
	width: $barWidth;
}

textarea::-webkit-scrollbar-track {
	background-color: rgba(255,255,255,.2);
    background-clip: content-box;  
}

textarea::-webkit-scrollbar-thumb{
	background-color: #fff;
	height: 3 * $barWidth;
}


.output::-webkit-scrollbar {
	width: $barWidth;
}

.output::-webkit-scrollbar-track {
	background-color: rgba(0,0,0,.2);
    background-clip: content-box;  
}

.output::-webkit-scrollbar-thumb{
	background-color: #777;
	height: 3 * $barWidth;
}